extends layout

block content 
    h1= title
    button.btn( class="btn-primary ml-1", onclick= create) Create 
    div.container-fluid
         div(class="row m-1") 
            each item, index in results
                - let destination = `dispatch(\"/Trousers/update?id=${item._id}\")` 
                div.col-sm-2(onclick=`buy(${index})`) Trouser_Type:#{item["Trouser_Type"]} <br> Trouser_size: #{item["Trouser_size"]} <br> Trouser_color: #{item["Trouser_color"]}

                p
                button.btn( class="btn-primary ml-1", onclick= destination) Update 
                p
                button.btn( class="btn-primary ml-1", onclick= detail) Detail 
                p
                button.btn( class="btn-primary ml-1", onclick= deleteItem) Delete 
        

    script. 
        function buy(cost) {
            alert('You purchased item '+ cost);
        }

        function dispatch(path) { 
            window.location.href=path 
        } 
 

   